/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(#005596, #000b14);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

a img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

a.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: #1b9bff;
    transition: .5s;
}

#about {
    margin-top: 25px;
}

.about {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.about-content {
    /* border: solid 1px; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h1 {
    color: white;
    font-size: 32px;
    text-align: right;
    margin-right: 15px;
}

#about p {
    color: white;
    font-size: 26px;
    text-align: right;
    margin-right: 15px;
}

#about span {
    background: linear-gradient(to right bottom, white, rgb(47, 140, 211));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.about-foto {
    /* border: 1px solid yellow; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.about-foto img {
    margin-left: 15px;
}

#projects {
    display: flex;
    margin-top: 25px;
}

.projects {
    /* border: 1px solid red; */
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    /* border: 1px solid blue; */
    width: 10%;
    min-height: inherit;
}

.projects h1 {
    font-size: 32px;
    color: white;
}

.projects-header {
    /* border: 1px solid green; */
    width: 100%;
    height: 15%;
    text-align: center;
}

.projects-content-container {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projects a {
    border: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
}

.projects-content-div {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    /* box-shadow: 1px 1px 10px 1px rgb(255, 255, 255); */
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-content-div:hover {
    /* border: rgb(47, 140, 211); */
    box-shadow: 1px 1px 10px 1px rgb(47, 140, 211);
}

.projects a img {
    width: 45%;
    height: auto;
    border: none;
}

.projects-content-div label {
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
}