@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: #101820eb;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: .3s ease;
}

.logo:hover {
    color: #FEE715;
    text-shadow: 0 0 25px #FEE715, 0 0 50px #FEE715;
    transform: scale(1.1);
}

a span {
    background: linear-gradient(90deg, #FEE715, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar a {
<<<<<<< HEAD
=======
    background: linear-gradient(90deg, white, #FEE715);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
>>>>>>> c0aa1c5fe1e6ee6656974c8da50e90aa669e39af
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: .3s ease;
}

.navbar a:hover {
    color: #FEE715;
    border-bottom: 3px solid #FEE715;
}

.home {
    width: 100%;
    min-height: 100vh;
    background: #FEE715;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    color: #101820;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.img-box img {
    border-radius: 50%;
    width: 450px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #fee715bc;
}

::-webkit-scrollbar-track {
    background-color: rgba(16, 24, 32, 0.6);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: #101820;
}

.about-img img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px #90830d, 0 0 50px #90830d;
    border-radius: 50%;
}

.about-content h2 {
    text-align: left;
    color: #FEE715;
    font-size: 42px;
}

.about-content h3 {
    font-size: 62px;
    color: #FEE715;
}

.about-content p {
    color: #FEE715;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: #101820;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

.btn-1 {
    padding: 15px 28px;
    background-color: #101820;
    color: #FEE715;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #FEE715;
    color: #101820;
    border: 2px solid transparent;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #101820;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #FEE715;
}

.footer .social a {
    font-size: 24px;
    border: 2px solid #FEE715;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px #FEE715, 0 0 10px #FEE715;
    transition: .3s ease;
}

.footer .social a:hover {
    transform: scale(1.2)translate(-10px);
    color: #FEE715;
    border: 2px solid #FEE715;
}